ul {
    list-style-type: none;
    position:fixed;
    margin: 0px;
    padding: 3px;
    top:0;
    width:100%;
   background-color:indigo;
    
}


li 
{
    float: left;
    display: inline-block; 
}


li a, .dropbtn
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

.poker
	{
		
	}